* {
    font-family: ---t-family-sans-serif;
    letter-spacing: -0.02rem;
}
.wrapper {
    margin-top: 20px;
    padding: 0 134px 0 134px;
    display: flex;
    h2 {
        font-weight: 700;
        font-size: 70px;
    }
    p {
        font-weight: 100;
        font-size: 25px;
    }
}

.img img {
    padding-top: 50px;
    width: 470px;
    padding-left: 50px;
}

.content {
    display: block;
}

.content h2 {
    margin-bottom: 0px;
}

    
