.wrapper {
    padding: 80px 130px;
    color: #1e1e1e;
}
.container1 {
    display: flex;
}
.wrapper h1 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
}

.wrapper p {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 100;
}

.wrapper h2 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
}

.container2 {
    display: flex;
}