.wrapper {
    padding: auto;
}

.footer {
    margin-top: 200px;
    text-align: center;
}

.footer button {
    margin-right: 14px;
    border-radius: 2rem;
    border: 1px solid #e6007a;
    background-color: transparent;
    font-size: 18px;
    color: #e6007a;
    font-weight: 700;
    padding: 16px 20px;
    cursor: pointer;
    position: relative;
}


.footer button::before {
    position: absolute;
    content: "";
    background-color: #e6007a;
    border: 1px solid #e6007a;
    border-radius: 2rem;
    box-sizing: border-box;
    opacity: 0;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.footer button:hover {
    color: #fff;
}

.footer button:hover::before {
    opacity: 1;
    transition: .2s;
    width: 100%;
    transform: X(-100%);
}

.footer h1 {
    font-size: 40px;
    font-weight: 100;
}

.footer h3 {
    font-size: 18px;
    font-weight: 100;
}

.text {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #e6007a;
}
