.wrapper {
    height: 400px;
    background-color: #e6007a !important;
    width: 100%;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}

.wrapper h1{
    font-size: 50px;
}

.wrapper p {
    font-size: 24px;
    width: 700px;
    font-weight: 100;
    margin-left: 370px;
}