.wrapper-main {
    width: 100%;
    height: 1200px;
    padding-top: 150px;
}
.title {
     padding-left: 100px;
}

.wrapper-main h2 {
    font-size: 65px;
    font-weight: 500;
    text-align: center;
    padding: 0 186px 0 136px;
    width: 950px;
}

.content {
    display: block;
    margin-top: 100px;
    height: 1100px;
    background-image: url("https://polkadot.network/assets/img/dg-network-xl-2.svg?v=96b0dfa78e");
    background-size: 140%;
    padding-left: 110px;
    background-position: -500px 0;
    
}

.text {
    padding-top: 60px;
    color: #fff;
    padding-left: 900px;
    width: 310px;
    font-weight: 100;
}

.tag {
    display: flex;
}

.text h1 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 600;
}

.text h4 {
    font-size: 22px;
    font-weight: 100;
}