.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    background-color: rgba(106, 106, 106, 0.5);
    transition: opacity 0.15s linear;
    transform: translate(0, 0);  
}

.wrapper {
    margin: 100px 0;
    padding: 24px;
    width: 572px;
    box-sizing: border-box;
    height: max-content;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: #fff ;
    z-index: 100;
    transition: opacity 0.15s linear;
    position: relative;
}

.form {
    padding: 0 24px 0 24px;
}
.submit {
    padding-top: 20px;
}

.wrapper button {
    position: absolute;
    color: #999;
    right: 24px;
    top: 24px;
}

.wrapper p {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.wrapper h1 {
    font-size: 14px;
    color: #6c757d;
}

a {
    color: #e6007a;
    text-decoration: none;
    font-weight: 100;
}

.submit h1 {
    font-size: 16px;
    font-weight: 100;
}

.option {
    margin-top: -4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 38px;
    padding-left: 10px;
    font-size: 18px;
}

.option-help {
    padding-bottom: 10px;
}
